.GenDivmain {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 40px;
      gap:20px;
      background-color: #131927;
}
.gencard:hover{
   
    transform: scale(1.3);
    cursor: pointer;
}

.gencard{
    border-radius: 10px;
    
}
.GenDivmain img {
    width: 100%;
    border-radius: 10px;
}
.h2Gen{
    color: white;
    margin-top: 100px;
    margin-left: 50px;
}