.mainD{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap:20px;
   padding: 20px;
}

.cardDiv img{
 border-radius: 10px;
 width: 100%;
    border-radius: 10px;
}
.cardDiv:hover{
    scale:1.2;
}